<h1>新規登録</h1>

<% if @user.errors.any? %>
  <div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |f| %>
  <div class="formBox">
    <p class="new"><%= f.label :name, "お名前" %></p>
    <p class="newText"><%= f.text_field :name, class: "newTextIn" %></p>
  </div>

  <div class="formBox">
    <p class="new"><%= f.label :email, "メールアドレス" %></p>
    <p class="newText"><%= f.email_field :email, class: "newTextIn" %></p>
  </div>

  <div class="formBox">
    <p class="new"><%= f.label :password, "パスワード" %></p>
    <p class="newText"><%= f.password_field :password, class: "newTextIn" %></p>
  </div>

  <div class="formBox">
    <p class="new"><%= f.label :password_confirmation, "パスワード（確認用）" %></p>
    <p class="newText"><%= f.password_field :password_confirmation, class: "newTextIn" %></p>
  </div>

  <div>
    <%= f.submit "登録する", class: "btn" %>
  </div>
<% end %>
