<div class="showBox">
  <% if current_user && current_user == @post.user %>
    <%= button_to "削除", post_path(@post), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "showDelete" %>
  <% end %>
  <h1><%= @post.user.name %></h1>

  <p class="showPost"><%= @post.content %></p>
</div>


<hr>

<% @replies.each do |reply| %>
  <%= next unless reply.persisted? %>
  
  <div class="showBoxReply">
    <% if current_user && current_user == reply.user %>
      <%= button_to "削除", post_reply_path(@post, reply), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "showDelete" %>
    <% end %>
    <p class="showPostReply"><%= reply.user.name %></p>
    <p class="showPostReply"><%= reply.content %></p>
    <hr>
  </div>
<% end %>

<hr>

<h2>このおはなしについて会話する</h2>

<% if @reply.errors.any? %>
  <ul>
    <% @reply.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [@post, @reply] do |f| %>
  <div class="formBox">
    <p class="new"><%= f.label :content, "おはなし" %></p>
    <p class="newText"><%= f.text_area :content, class: "newTextIn" %></p>
  </div>

  <%= f.submit "これでけってい！", class: "btn" %>
<% end %>

<%= link_to "もどる", posts_path, class: "back" %>
